<div class="container">
  <div class="main-product">
    <h3>{{ selectedProduct?.name || 'اسم المنتج' }}</h3>
    <img
      *ngIf="selectedProduct"
      [src]="selectedProduct.image"
      alt="صورة المنتج"
      class="product-image"
    />
    <p>{{ selectedProduct?.details || 'تفاصيل المنتج' }}</p>
  </div>

  <div class="side-products">
    <div
      class="side-product"
      *ngFor="let product of products"
      (click)="selectProduct(product)"
    >
      <h4>{{ product.name }}</h4>
      <img [src]="product.image" alt="صورة المنتج" class="product-image" />
    </div>
  </div>
</div> 